anyascii==0.3.2
asgiref==3.8.1
beautifulsoup4==4.12.3
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
coderedcms==4.0.0
colorama==0.4.6
decorator==5.1.1
defusedxml==0.7.1
Django==5.0.6
django-bootstrap5==24.2
django-eventtools==1.0.3
django-filter==24.2
django-modelcluster==6.3
django-permissionedforms==0.1
django-sass==1.1.0
django-taggit==5.0.1
django-treebeard==4.7.1
djangorestframework==3.15.1
draftjs-exporter==5.0.0
et-xmlfile==1.1.0
filetype==1.2.0
future==1.0.0
geocoder==1.38.1
icalendar==5.0.12
idna==3.7
l18n==2021.3
laces==0.1.1
libsass==0.23.0
openpyxl==3.1.4
pillow==10.3.0
pillow_heif==0.16.0
python-dateutil==2.9.0.post0
pytz==2024.1
ratelim==0.1.6
requests==2.32.3
six==1.16.0
soupsieve==2.5
sqlparse==0.5.0
telepath==0.3.1
tzdata==2024.1
urllib3==2.2.1
wagtail==6.1.2
wagtail-cache==2.4.0
wagtail-seo==2.5.0
Willow==1.8.0
